* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
@media only screen and (max-width: 390px) {
}
.overlay {
  width: 100%;
  border: 1px solid black;
}
.frame-45 {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-between;
  /* position: relative; */
  background-color: #f5f5f7;
}
.item {
  display: flex;
  justify-content: center;
  width: 48px;
  height: 49px;
}
.button--apple {
  width: 48px;
  height: 49px;
  background: none;
  border: none;
  cursor: pointer;
}
.item-2 {
  display: flex;
  margin-left: 100px;
  justify-content: space-between;
  align-items: center;
}
.button--search {
  width: 48px;
  height: 49px;
  background: none;
  border: none;
  cursor: pointer;
}
.button--shopping-bag {
  width: 48px;
  height: 49px;
  background: none;
  border: none;
  cursor: pointer;
}
.button--menu {
  width: 48px;
  height: 49px;
  background: none;
  border: none;
  cursor: pointer;
}
.container {
  width: 100%;
  height: 73px;
  display: flex;
  text-align: center;
  margin-top: 18px;
  font-size: 14px;
  padding-left: 31px;
  padding-right: 31px;
}

.background_1 {
  display: flex;
  width: 100%;
  height: 500px;
  border: 1px solid black;
  margin-top: 12px;
  background-image: url(./images-02/Figure0.png);
  background-size: cover;
  justify-content: center;
  align-items: center;
  background-color: #2997ff;
}

.frame-24 {
  display: flex;
  flex-direction: column;
  width: 314px;
  height: 152px;
  margin-top: 310px;
  margin-left: 30px;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.p-2 {
  color: white;
  font-size: 30px;
  /* align-self: center; */
}
.p-3 {
  color: white;
  font-size: 18px;
}
.link {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  gap: 10px;
}
.button--learn {
  width: 107px;
  height: 36px;
  border-radius: 20px;
  background-color: #2997ff;
  border: 1px solid #2997ff;
  color: white;
  cursor: pointer;
}
.button--buy {
  width: 66px;
  height: 36px;
  border-radius: 20px;
  border: 1px solid #2997ff;
  background: none;
  color: #2997ff;
  cursor: pointer;
}

.background_2 {
  display: flex;
  width: 100%;
  height: 500px;
  border: 1px solid green;
  margin-top: 12px;
  background-image: url(./images-02/Figure2.png);
  background-size: cover;
  align-items: center;
  justify-content: center;
  position: relative;
}

.frame-24-1 {
  display: flex;
  flex-direction: column;
  width: 314px;
  height: 152px;
  margin-top: 30px;
  margin-left: 30px;
  gap: 12px;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .background_2 {
    display: flex;
    width: 100%;
    height: 650px;
    background-image: url(./images-02/Figure-2tab.png);
  }
}

.background_3 {
  display: flex;
  width: 100%;
  height: 500px;
  border: 1px solid green;
  margin-top: 12px;
  background-image: url(./images-02/Figure3.png);
  background-size: cover;
  align-items: center;
  justify-content: center;
  background-color: #2997ff;
}
.frame-27 {
  display: flex;
  flex-direction: column;
  width: 314px;
  height: 152px;
  margin-top: 20px;
  margin-left: 38px;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.p-6 {
  margin-top: 270px;
  font-family: sans-serif;
  background-image: linear-gradient(43deg, #4158d0, #c850c0 46%, #ffcc70 100%);
  background-clip: text;
  color: transparent;
}

.cards {
  display: flex;
  flex-direction: column;
}

.background_4 {
  display: flex;
  width: 100%;
  height: 500px;
  border: 1px solid green;
  margin-top: 12px;
  background-image: url("./images-02/Figure4.png");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  background-color: #2997ff;
}
.frame-27-1 {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 152px;
  margin-top: 310px;
  margin-left: 38px;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.p-7 {
  font-size: 36px;
  color: white;
}
.p-8 {
  font-size: 18px;
  color: white;
  align-self: center;
  text-align: center;
}
.background_5 {
  display: flex;
  width: 100%;
  height: 500px;
  border: 1px solid green;
  margin-top: 12px;
  background-image: url(./images-02/Figure5.png);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  background-color: #2997ff;
}
.frame-6 {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 38px;
  width: 154px;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.p-9 {
  font-size: 28px;
  /* justify-content: space-between; */
}
.p-10 {
  font-size: 13px;
}
.background_6 {
  display: flex;
  width: 100%;
  height: 500px;
  border: 1px solid green;
  margin-top: 12px;
  background-image: url(./images-02/Figure.air.png);
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  background-color: #2997ff;
}
.frame-21 {
  display: flex;
  flex-direction: column;
  width: 314px;
  height: 152px;
  margin-top: 30px;
  margin-left: 30px;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.background_7 {
  display: flex;
  width: 100%;
  height: 500px;
  border: 1px solid green;
  margin-top: 12px;
  background-image: url(./images-02/Figure.book.png);
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  background-color: #2997ff;
}

.frame-25 {
  display: flex;
  flex-direction: column;
  width: 314px;
  height: 152px;
  margin-top: 30px;
  margin-left: 30px;
  gap: 12px;
  /* justify-content: center;  */
  align-items: center;
}

.p-14 {
  font-size: 30px;
  text-align: center;
}
.p-15 {
  font-size: 18px;
  text-align: center;
}
.background_8 {
  display: flex;
  width: 100%;
  height: 500px;
  border: 1px solid green;
  margin-top: 12px;
  background-image: url(./images-02/Figure8.png);
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  background-color: #2997ff;
}
.frame-23 {
  display: flex;
  flex-direction: column;
  width: 314px;
  height: 152px;
  margin-top: 220px;
  margin-left: 30px;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.p-16 {
  font-size: 30px;
  text-align: center;
}
.p-17 {
  font-size: 18px;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}
.background_9 {
  width: 100%;
  height: 500px;
  border: 1px solid green;
  margin-top: 12px;
  background-image: url(./images-02/Figure9.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: green;
  display: flex;
  justify-content: center;
  background-color: #2997ff;
}
.frame-7 {
  display: flex;
  flex-direction: column;
  width: 314px;
  height: 152px;
  margin-top: 30px;
  margin-left: 30px;
  gap: 12px;
  justify-content: center;
  align-items: center;
}
.frame-7__sub {
  gap: 10px;
}
.p-18 {
  font-size: 30px;
}
.p-19 {
  font-size: 18px;
  text-align: center;
}
.link-9 {
  display: flex;
  width: 117px;
  height: 36px;
  border-radius: 20px;
  background-color: #2997ff;
  border: 1px solid #2997ff;
  color: white;
  cursor: pointer;
  align-items: center;
}
.background_10 {
  width: 100%;
  height: 500px;
  border: 1px solid green;
  margin-top: 12px;
  background-image: url();
  justify-items: flex-start;
  overflow-x: scroll;
  /* overflow-y: hidden; */
}
.scroll {
  gap: 10px;
  justify-items: flex-start;
  background-size: contain;
  display: flex;
  gap: 10px;
}
.frame-44 {
  display: flex;
  gap: 10px;
  height: 495px;
  border: 1px solid green;
}
.photo-1 {
  background-image: url();
  background-color: #ffcc70;
  height: 495px;
  width: 274px;
}
.photo-2 {
  background-image: url();
  background-color: #ffcc70;
  height: 495px;
  width: 274px;
}
.photo-3 {
  background-image: url();
  background-color: #ffcc70;
  height: 495px;
  width: 274px;
}

.tab {
  display: flex;
  justify-content: center;
}
.tablist {
  display: flex;
  height: 20px;
  width: 225px;
  border: 1px solid green;
  justify-content: center;
  gap: 10px;
  align-items: center;
  color: rgb(74, 73, 73);
  background-position: center;
}

.background_11 {
  display: flex;
  width: 100%;
  height: 216px;
  border: 1px solid green;
  margin-top: 12px;
  background-image: url();
  gap: 10px;
  /* overflow-x: scroll; */
  /* overflow-y: hidden; */
  background-color: #2997ff;
  flex-direction: column;
}

.frame-video {
  display: flex;
  /* width: 238px; */
  height: 160px;
  border: 1px solid green;
  /* background-image: url(./images/Figure10.png); */
  background-size: contain;
  gap: 10px;
}

.video-1 {
  width: 238px;
  height: 160px;
  border: 1px solid green;
  background-image: url(./images-02/Figure9.png);
  background-size: contain;
  justify-items: right;
}
.p-20 {
}

.video-2 {
  width: 238px;
  height: 161px;
  border: 1px solid green;
  background-image: url(./images-02/Figure9.png);
  background-size: contain;
  justify-items: right;
}

.play {
  flex-direction: column;
  justify-items: right;
}
.button--play {
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 15px;
  margin-top: 12px;
}

@media only screen and (min-width: 768px) {
  .container {
    height: 48px;
    justify-self: center;
    text-align: center;
    justify-content: center;
  }
  .tab-background {
    display: flex;
    flex-direction: column;
  }
  .background_1 {
    display: flex;
    width: 100%;
    height: 650px;
    border: 1px solid green;
    background-image: url(./images-02/Figure1.png);
    gap: 12px;
  }

  .frame-24 {
    display: flex;
    flex-direction: column;
    width: 405px;
    height: 156px;
    padding-bottom: 600px;
    gap: 12px;
    align-items: center;
  }

  .p-2 {
    color: white;
    font-size: 42px;
    /* align-self: center; */
  }
  .p-3 {
    color: white;
    font-size: 22px;
  }
  .link {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    gap: 10px;
  }
  .button--learn {
    width: 123px;
    height: 44px;
    border-radius: 20px;
    background-color: #2997ff;
    border: 1px solid #2997ff;
    color: white;
    cursor: pointer;
  }
  .button--buy {
    width: 68px;
    height: 44px;
    border-radius: 20px;
    border: 1px solid #2997ff;
    background: none;
    color: #2997ff;
    cursor: pointer;
  }
  .background_2 {
    display: flex;
    width: 100%;
    height: 90%px;
    background-color: #2997ff;
  }
  .frame-24-1 {
    display: flex;
    flex-direction: column;
    padding-bottom: 300px;
    gap: 12px;
    align-items: center;
  }
  .background_3 {
    display: flex;
    height: 650px;
    width: 100%;
    border: 1px solid green;
    background-image: url(./images-02/Figure-3tab.png);
    background-color: #2997ff;
  }

  .background_3 {
    display: flex;
    width: 100%;
    height: 650px;
    background-image: url(./images-02/Figure-3tab.png);
  }

  .p-5 {
    font-size: 22px;
  }
  .p-6 {
    font-size: 24px;
  }

  .background_10 {
    width: 100%;
    height: 368px;
    border: 1px solid green;
    margin-top: 12px;
    background-image: url();
    justify-items: flex-start;
    overflow-x: scroll;
    background-color: #2997ff;
  }
  .scroll {
    height: 368px;
    border: 1px solid green;
  }

  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
  }

  .background_4 {
    width: 48%;
  }

  .background_5 {
    width: 48%;
  }
  .background_6 {
    width: 48%;
  }
  .background_7 {
    width: 48%;
  }
  .background_8 {
    width: 48%;
  }
  .background_9 {
    width: 48%;
  }
  .frame-44 {
    display: flex;
    gap: 12px;
    height: 368px;
  }
  .photo-1 {
    height: 368px;
    width: 689px;
    background-image: url();
    background-color: aqua;
  }
  .photo-2 {
    height: 368px;
    width: 689px;
    background-image: url();
    background-color: aqua;
  }
  .background_11 {
    display: flex;
    width: 100%;
    height: 262px;
    border: 1px solid green;
    margin-top: 12px;
    background-image: url();
    gap: 10px;
  }
  .frame-video {
    height: 194px;
    background-color: #f5f5f7;
  }

  .video-1 {
    width: 286px;
    height: 161px;
    gap: 10px;
    background-color: #c850c0;
  }

  .video-2 {
    width: 286px;
    height: 161px;
    gap: 10px;
    background-color: #c850c0;
  }
}
@media only screen and (min-width: 1920px) {
  .background_1 {
    display: flex;
    width: 100%;
    height: 692px;
    border: 1px solid green;
    background-image: url(./images-02/Figure1.png);
    gap: 12px;
  }
}
