* {
  margin: 0%;
  padding: 0%;
  /* background-color: #F5F5F7; */
  box-sizing: border-box;
}
body {
  background-color: #f5f5f7;
}

.header {
  width: 100%;
  /* border: 1px solid black; */
}

.frame-67 {
  width: 100%;
  height: 48px;
  display: flex;
  background-color: #f5f5f7;
  align-items: center;
  justify-content: center;
}

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.button--home-1 {
  display: flex;
  font-size: 12px;
  background: none;
  border: none;
  cursor: pointer;
}
.advert {
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
}

.p-1 {
  font-size: 14px;
}
.gradient {
  height: 70px;
  background-color: #f5f5f7;
  background: linear-gradient(
    90deg,
    rgb(134, 134, 247),
    rgb(240, 70, 169),
    rgb(247, 112, 22)
  );
  /* animation: color 12s ease-in-out infinite; */
}

@keyframes color {
  0% {
    background-position: 0, 50%;
  }
  100% {
    background-position: 0, 50%;
  }
}

.header-2 {
  display: flex;
  height: 100px;
  margin-top: 60px;
  /* border: 1px solid green; */
  justify-content: space-between;
  justify-items: center;
  background-color: #f5f5f7;
}

.store {
  display: flex;
  height: 52px;
  width: 655px;
  gap: 32px;
  /* border: 1px solid green; */
  margin-left: 140px;
  align-self: center;
}
.p-2 {
  font-size: 44px;
  background: -webkit-linear-gradient(rgb(237, 42, 120), rgb(78, 78, 239));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.p-3 {
  font-size: 44px;
  color: rgb(99, 98, 98);
}
.link {
  display: flex;
  flex-direction: column;
  margin-right: 140px;
  align-self: center;
}

.p-5 {
  margin-top: 10px;
}

.link-2 {
  text-decoration: unset;
}

.header-3 {
  display: flex;
  height: 146px;
  margin-top: 60px;
  justify-content: space-between;
  justify-items: center;
  background-color: #f5f5f7;
}

.products-1 {
  display: flex;
  margin-left: 140px;
  margin-right: 140px;
  align-items: center;
}

.box-1 {
  flex-direction: column;
  width: 136px;
  height: auto;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.p-7 {
  display: flex;
  height: 78px;
  width: 120px;
  background-size: cover;
}

.p-6 {
  display: flex;
  font-size: 14px;
  font-style: bold;
  width: 120px;
  height: 20px;
  margin-top: 10px;
  justify-content: center;
  align-self: center;
}
.header-4 {
  display: flex;
  height: 558px;
  margin-top: 60px;
  flex-direction: column;
  background-color: #f5f5f7;
}

.store-2 {
  display: flex;
  margin-left: 140px;
  gap: 24px;
}
.p-8 {
  font-size: 24px;
  background: -webkit-linear-gradient(#0090f7, #ba62fc, #f2416b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.p-9 {
  font-size: 24px;
  color: rgb(99, 98, 98);
}

.products-2 {
  display: flex;
  margin-left: 140px;
  flex-direction: row;
  gap: 12px;
}

.box-2 {
  display: flex;
  margin-top: 20px;
  height: 500px;
  width: 480px;
  border-radius: 18px;
  box-shadow: 10px, 0, 5px, -2px, #00000014;
  background-color: #ffffff;
  background-position: center;
  background-size: cover;
}

.box-2_sub {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 30px;
  gap: 12px;
}

.p-12 {
  font-size: 12px;
  color: #b64400;
}

.p-13 {
  font-size: 26px;
  color: #1d1d1f;
}

.p-14 {
  font-size: 18px;
}

.box--1 {
  background-image: url(./images.store/b1.jpg);
}

.p-15 {
  visibility: hidden;
}

.box--2 {
  background-image: url(./images.store/b2.jpg);
}

.box--3 {
  background-image: url(./images.store/b3.jpg);
}
.box--4 {
  background-image: url(./images.store/b4.jpg);
}

.header-5 {
  display: flex;
  height: 558px;
  margin-top: 60px;
  flex-direction: column;
  background-color: #f5f5f7;
  /* border: 1px solid green; */
}

.store-3 {
  display: flex;
  margin-left: 140px;
  gap: 24px;
}

.p-24 {
  font-size: 24px;
  background: -webkit-linear-gradient(#0090f7, #ba62fc, #f2416b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.p-25 {
  font-size: 24px;
  color: rgb(99, 98, 98);
}

.products-3 {
  display: flex;
  margin-left: 140px;
  flex-direction: row;
  gap: 12px;
}

.box-3 {
  margin-top: 20px;
  height: 500px;
  width: 400px;
  flex-shrink: 0;
  border-radius: 18px;
  box-shadow: 10px, 0, 5px, -2px, #00000014;
  background-color: #ffffff;
  background-position: center;
  background-size: cover;
  background-image: url(./images.store/c-1.jpg);
}

.box-3_sub {
  display: flex;
  margin-top: 53px;
  margin-left: 30px;
  height: 66px;
  width: 197px;
}

.p-26 {
  font-size: 26px;
  text-align: center;
}

.box-4 {
  margin-top: 20px;
  height: 500px;
  width: 313px;
  flex-shrink: 0;
  border-radius: 18px;
  box-shadow: 10px, 0, 5px, -2px, #00000014;
  background-color: #ffffff;
}

.box--a {
  width: 230px;
  height: 230px;
  margin-top: 71px;
  margin-left: 41.5px;
  /* border: 1px solid green; */
  background-image: url(./images.store/c-2.jpg);
  background-size: cover;
}

.box--b {
  display: flex;
  flex-direction: row;
  width: 253px;
  height: 58px;
  background-image: url ();
  justify-content: center;
  /* border: 1px solid green; */
  gap: 10px;
  justify-items: center;
  margin-left: 30px;
}
.box--d {
  width: 230px;
  height: 230px;
  margin-top: 71px;
  margin-left: 41.5px;
  background-image: url(./images.store/c-3.jpg);
  background-size: cover;
}

.box--e {
  width: 230px;
  height: 230px;
  margin-top: 71px;
  margin-left: 41.5px;
  background-image: url(./images.store/c-4.jpg);
  background-size: cover;
}

.box--f {
  width: 230px;
  height: 230px;
  margin-top: 71px;
  margin-left: 41.5px;
  background-image: url(./images.store/c-5.jpg);
  background-size: cover;
}

.p-34 {
  display: flex;
  width: 12px;
  height: 12px;
}

.box-4_sub {
  height: 109px;
  width: 257px;
  flex-direction: column;
  margin-left: 28px;
  margin-top: 20px;
  /* border: 1px solid black; */
}

.box-4_sub1 {
  height: 109px;
  width: 257px;
  flex-direction: column;
  margin-left: 28px;
  margin-top: 78px;
  /* border: 1px solid black; */
}

.p-27 {
  color: #b64400;
  font-size: 12px;
}

.p-28 {
  font-size: 18px;
}

.box--c {
  margin-top: 36px;
}

.box--c1 {
  margin-top: 22px;
}

.box--c2 {
  /* visibility: hidden; */
  margin-top: 20px;
}

.box--c1 {
  margin-top: 35px;
}

.p-29 {
  font-size: 14px;
}

.header-6 {
  display: flex;
  width: 100%;
  height: 558px;
  margin-top: 60px;
  flex-direction: column;
  background-color: #f5f5f7;
}

.store-4 {
  display: flex;
  margin-left: 140px;
  gap: 24px;
}

.p-35 {
  font-size: 24px;
  background: -webkit-linear-gradient(#0090f7, #ba62fc, #f2416b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.p-36 {
  font-size: 24px;
  color: rgb(99, 98, 98);
}

.products-4 {
  display: flex;
  width: 100%;
  margin-left: 140px;
  flex-direction: row;
  gap: 12px;
}

.box-3-1 {
  margin-top: 20px;
  height: 500px;
  width: 400px;
  flex-shrink: 0;
  border-radius: 18px;
  box-shadow: 10px, 0, 5px, -2px, #00000014;
  background-color: #ffffff;
  background-position: center;
  background-size: cover;
  background-image: url(./images.store/d-1.jpg);
}

.box-3_sub {
  display: flex;
  margin-top: 53px;
  margin-left: 30px;
  height: 66px;
  width: 240px;
}

.p-37 {
  font-size: 26px;
  text-align: center;
}

.box--a4 {
  width: 230px;
  height: 230px;
  margin-top: 71px;
  margin-left: 41.5px;
  /* border: 1px solid green; */
  background-image: url(./images.store/d-2.jpg);
  background-size: cover;
}

.box--b4 {
  width: 253px;
  height: 58px;
  background-image: url(./images.store/List-a.png);
  justify-content: center;
  justify-items: center;
  margin-left: 30px;
}

.box--d {
  width: 230px;
  height: 230px;
  margin-top: 71px;
  margin-left: 41.5px;
  background-image: url(./images.store/c-3.jpg);
  background-size: cover;
}

.box--e {
  width: 230px;
  height: 230px;
  margin-top: 71px;
  margin-left: 41.5px;
  background-image: url(./images.store/c-4.jpg);
  background-size: cover;
}

.box--f {
  width: 230px;
  height: 230px;
  margin-top: 71px;
  margin-left: 41.5px;
  background-image: url(./images.store/c-5.jpg);
  background-size: cover;
}

.p-38 {
  color: #b64400;
  font-size: 12px;
}

.box--d4 {
  width: 230px;
  height: 230px;
  margin-top: 71px;
  margin-left: 41.5px;
  background-image: url(./images.store/d-3.jpg);
  background-size: cover;
}

.box--b5 {
  width: 253px;
  height: 58px;
  background-image: url(./images.store/List-b.png);
  justify-content: center;
  justify-items: center;
  margin-left: 30px;
}

.p-40 {
  visibility: hidden;
}

.box--e4 {
  width: 230px;
  height: 230px;
  margin-top: 71px;
  margin-left: 41.5px;
  background-image: url(./images.store/d-4.jpg);
  background-size: cover;
}

.box--f4 {
  width: 230px;
  height: 230px;
  margin-top: 71px;
  margin-left: 41.5px;
  background-image: url(./images.store/d-5.jpg);
  background-size: cover;
}

.box--c1 {
  margin-top: 22px;
}

.box--b6 {
  width: 253px;
  height: 58px;
  background-image: url(./images.store/List-c.png);
  justify-content: center;
  justify-items: center;
  margin-left: 30px;
}

.header-7 {
  display: flex;
  width: 100%;
  height: 558px;
  margin-top: 60px;
  flex-direction: column;
  background-color: #f5f5f7;
}

.store-5 {
  display: flex;
  margin-left: 140px;
  gap: 24px;
}

.p-35 {
  font-size: 24px;
  background: -webkit-linear-gradient(#0090f7, #ba62fc, #f2416b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.p-36 {
  font-size: 24px;
  color: rgb(99, 98, 98);
}

.products-5 {
  display: flex;
  width: 100%;
  margin-left: 140px;
  flex-direction: row;
  gap: 12px;
}

.box-6 {
  margin-top: 20px;
  height: 500px;
  width: 480px;
  flex-shrink: 0;
  border-radius: 18px;
  box-shadow: 10px, 0, 5px, -2px, #00000014;
  background-color: #ffffff;
  background-position: center;
  background-size: cover;
  background-image: url(./images.store/e-1.jpg);
}

.box-6_sub {
  width: 305px;
  height: 130px;
  margin-top: 50px;
  margin-left: 30px;
  /* align-items: center; */
}

.box-7 {
  flex-direction: row;
  width: 313px;
  height: 240px;
  border-radius: 8px;
  border-radius: 18px;
  box-shadow: 10px, 0, 5px, -2px, #00000014;
  background-color: #ffffff;
}

.sub-container {
  display: flex;
  margin-top: 20px;
  height: 500px;
  width: 640px;
  /* border: 1px solid black; */
  gap: 10px;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;
  justify-items: center;
}

.p-42 {
  margin-top: 82px;
  margin-left: 30px;
  font-size: 22px;
}

.p-43 {
  margin-top: 31px;
  margin-left: 30px;
  font-size: 12px;
}

.box-8 {
  margin-top: 20px;
  height: 500px;
  width: 480px;
  flex-shrink: 0;
  border-radius: 18px;
  box-shadow: 10px, 0, 5px, -2px, #00000014;
  background-color: #ffffff;
  background-position: center;
  background-size: cover;
  background-image: url(./images.store/e-2.jpg);
}

.p-44 {
  font-size: 25px;
  margin-top: 24px;
  margin-left: 30px;
}

.box-9 {
  margin-top: 20px;
  height: 500px;
  width: 480px;
  flex-shrink: 0;
  border-radius: 18px;
  box-shadow: 10px, 0, 5px, -2px, #00000014;
  background-color: #ffffff;
  background-position: center;
  background-size: cover;
  background-image: url(./images.store/e-3.jpg);
}

.p-45 {
  font-size: 25px;
  margin-top: 24px;
  margin-left: 30px;
}

.header-8 {
  display: flex;
  width: 100%;
  height: 558px;
  margin-top: 60px;
  flex-direction: column;
  background-color: #f5f5f7;
}

.store-6 {
  display: flex;
  margin-left: 140px;
  gap: 24px;
}

.products-6 {
  display: flex;
  width: 100%;
  margin-left: 140px;
  flex-direction: row;
  gap: 12px;
}

.box-10 {
  margin-top: 20px;
  height: 500px;
  width: 480px;
  flex-shrink: 0;
  border-radius: 18px;
  box-shadow: 10px, 0, 5px, -2px, #00000014;
  background-color: #ffffff;
  background-position: center;
  background-size: cover;
  background-image: url(./images.store/f-1.jpg);
}

.p-46 {
  font-size: 17px;
  margin-left: 30px;
  margin-top: 20px;
}

.box-11 {
  margin-top: 20px;
  height: 500px;
  width: 480px;
  flex-shrink: 0;
  border-radius: 18px;
  box-shadow: 10px, 0, 5px, -2px, #00000014;
  background-color: #ffffff;
  background-position: center;
  background-size: cover;
  background-image: url(./images.store/f-2.png);
}

.p-47 {
  margin-top: 31px;
  margin-left: 30px;
  font-size: 12px;
  color: white;
}

.p-48 {
  font-size: 25px;
  margin-top: 24px;
  margin-left: 30px;
  color: white;
}

.box-12 {
  margin-top: 20px;
  height: 500px;
  width: 480px;
  flex-shrink: 0;
  border-radius: 18px;
  box-shadow: 10px, 0, 5px, -2px, #00000014;
  background-color: #ffffff;
  background-position: center;
  background-size: cover;
  background-image: url(./images.store/f-3.jpg);
}

.p-49 {
  visibility: hidden;
}

.p-50 {
  font-size: 25px;
  margin-top: 46px;
  margin-left: 30px;
}

.box-13 {
  margin-top: 20px;
  height: 500px;
  width: 480px;
  flex-shrink: 0;
  border-radius: 18px;
  box-shadow: 10px, 0, 5px, -2px, #00000014;
  background-color: #ffffff;
  background-position: center;
  background-size: cover;
  background-image: url(./images.store/f-4.jpg);
}

.header-9 {
  display: flex;
  width: 100%;
  height: 590px;
  margin-top: 60px;
  flex-direction: column;
  background-color: #f5f5f7;
}

.store-7 {
  display: flex;
  margin-left: 140px;
  gap: 24px;
}

.products-7 {
  display: flex;
  width: 831px;
  margin-left: 140px;
  flex-direction: row;
  gap: 12px;
}


.box-14 {
  margin-top: 20px;
  height: 500px;
  width: 400px;
  flex-shrink: 0;
  border-radius: 18px;
  box-shadow: 10px, 0, 5px, -2px, #00000014;
  background-color: #ffffff;
  background-position: center;
  background-size: cover;
  background-image: url(./images.store/g-1.jpg);
}

.p-51 {
  margin-top: 31px;
  margin-left: 30px;
  font-size: 12px;
}

.p-52 {
  font-size: 25px;
  margin-top: 24px;
  margin-left: 30px;
}

.box-15 {
  margin-top: 20px;
  height: 500px;
  width: 400px;
  flex-shrink: 0;
  border-radius: 18px;
  box-shadow: 10px, 0, 5px, -2px, #00000014;
  background-color: #ffffff;
  background-position: center;
  background-size: cover;
  background-image: url(./images.store/g-2.jpg);
}

.box-16 {
  margin-top: 20px;
  height: 500px;
  width: 400px;
  flex-shrink: 0;
  border-radius: 18px;
  box-shadow: 10px, 0, 5px, -2px, #00000014;
  background-color: #ffffff;
  background-position: center;
  background-size: cover;
  background-image: url(./images.store/g-3.jpg);
}

.box-17 {
  margin-top: 20px;
  height: 500px;
  width: 400px;
  flex-shrink: 0;
  border-radius: 18px;
  box-shadow: 10px, 0, 5px, -2px, #00000014;
  background-color: #ffffff;
  background-position: center;
  background-size: cover;
  background-image: url(./images.store/g-4.jpg);
}

.box-18 {
  margin-top: 20px;
  height: 500px;
  width: 400px;
  flex-shrink: 0;
  border-radius: 18px;
  box-shadow: 10px, 0, 5px, -2px, #00000014;
  background-color: #ffffff;
  background-position: center;
  background-size: cover;
  background-image: url(./images.store/g-5.jpg);
}

.footer {
  margin-top: 60px;
  width: 100%;
  height: 96px;
}

.p-53 {
  margin-left: 140px;
  font-size: 26px;
}

.button-footer {
  margin-top: 24px;
  margin-left: 140px;
  gap: 12px;

}

.b-1 {
  height: 40px;
  width: 125px;
  border: 1px solid gray;
  border-radius: 20px;
  background: transparent;

}
