* {
  margin: 0%;
  padding: 0%;
  /* background-color: #F5F5F7; */
  box-sizing: border-box;
}
body {
  background-color: #f5f5f7;
}

.header {
  width: 100%;
  /* border: 1px solid black; */
}

.frame-67 {
  width: 100%;
  height: 48px;
  display: flex;
  background-color: #f5f5f7;
  align-items: center;
  justify-content: center;
}

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.button--home-1 {
  display: flex;
  font-size: 12px;
  background: none;
  border: none;
  cursor: pointer;
}
.advert {
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
}

.p-1 {
  font-size: 14px;
}
.gradient {
  height: 70px;
  background-color: #f5f5f7;
  background: linear-gradient(
    90deg,
    rgb(134, 134, 247),
    rgb(240, 70, 169),
    rgb(247, 112, 22)
  );
  /* animation: color 12s ease-in-out infinite; */
}

@keyframes color {
  0% {
    background-position: 0, 50%;
  }
  100% {
    background-position: 0, 50%;
  }
}

.header-2 {
  display: flex;
  height: 100px;
  margin-top: 60px;
  /* border: 1px solid green; */
  justify-content: space-between;
  justify-items: center;
  background-color: #f5f5f7;
}

.store {
  display: flex;
  height: 52px;
  width: 655px;
  gap: 32px;
  /* border: 1px solid green; */
  margin-left: 140px;
  align-self: center;
}
.p-2 {
  font-size: 44px;
  background: -webkit-linear-gradient(rgb(237, 42, 120), rgb(78, 78, 239));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.p-3 {
  font-size: 44px;
  color: rgb(99, 98, 98);
}
.link {
  display: flex;
  flex-direction: column;
  margin-right: 140px;
  align-self: center;
}

.p-5 {
  margin-top: 10px;
}

.link-2 {
  text-decoration: unset;
}

.header-3 {
  display: flex;
  height: 146px;
  margin-top: 60px;
  justify-content: space-between;
  justify-items: center;
  background-color: #f5f5f7;
}

.products-1 {
  display: flex;
  margin-left: 140px;
  margin-right: 140px;
  align-items: center;
}

.box-1 {
  flex-direction: column;
  width: 136px;
  height: auto;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.p-7 {
  display: flex;
  height: 78px;
  width: 120px;
  background-size: cover;
}

.p-6 {
  display: flex;
  font-size: 14px;
  font-style: bold;
  width: 120px;
  height: 20px;
  margin-top: 10px;
  justify-content: center;
  align-self: center;
}
.header-4 {
  display: flex;
  height: 558px;
  margin-top: 60px;
  flex-direction: column;
  background-color: #f5f5f7;
}

.store-2 {
  display: flex;
  margin-left: 140px;
  gap: 24px;
}
.p-8 {
  font-size: 24px;
  background: -webkit-linear-gradient(#0090f7, #ba62fc, #f2416b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.p-9 {
  font-size: 24px;
  color: rgb(99, 98, 98);
}

.products-2 {
  display: flex;
  margin-left: 140px;
  flex-direction: row;
  gap: 12px;
}

.box-2 {
  display: flex;
  margin-top: 20px;
  height: 500px;
  width: 480px;
  border-radius: 18px;
  box-shadow: 10px, 0, 5px, -2px, #00000014;
  background-color: #ffffff;
  background-position: center;
  background-size: cover;
}

.box-2_sub {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 30px;
  gap: 12px;
}

.p-12 {
  font-size: 12px;
  color: #b64400;
}

.p-13 {
  font-size: 26px;
  color: #1d1d1f;
}

.p-14 {
  font-size: 18px;
}

.box--1 {
  background-image: url(./images.store/b1.jpg);
}

.p-15 {
  visibility: hidden;
}

.box--2 {
  background-image: url(./images.store/b2.jpg);
}

.box--3 {
  background-image: url(./images.store/b3.jpg);
}
.box--4 {
  background-image: url(./images.store/b4.jpg);
}

.header-5 {
  display: flex;
  height: 558px;
  margin-top: 60px;
  flex-direction: column;
  background-color: #f5f5f7;
  border: 1px solid green;
}

.store-3 {
  display: flex;
  margin-left: 140px;
  gap: 24px;
}
.p-24 {
  font-size: 24px;
  background: -webkit-linear-gradient(#0090f7, #ba62fc, #f2416b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.p-25 {
  font-size: 24px;
  color: rgb(99, 98, 98);
}
.products-3 {
  display: flex;
  margin-left: 140px;
  flex-direction: row;
  gap: 12px;
}

.box-3 {
  margin-top: 20px;
  height: 500px;
  width: 400px;
  flex-shrink: 0;
  border-radius: 18px;
  box-shadow: 10px, 0, 5px, -2px, #00000014;
  background-color: #ffffff;
  background-position: center;
  background-size: cover;
  background-image: url(./images.store/c-1.jpg);
}

.box-3_sub {
  display: flex;
  margin-top: 53px;
  margin-left: 30px;
  height: 66px;
  /* width: 197px;  */
}

.p-26 {
  font-size: 26px;
  font-style: italic;
}
.box-4 {
  margin-top: 20px;
  height: 500px;
  width: 313px;
  flex-shrink: 0;
  border-radius: 18px;
  box-shadow: 10px, 0, 5px, -2px, #00000014;
  background-color: #ffffff;
}

.box--a {
  width: 230px;
  height: 230px;
  margin-top: 71px;
  margin-left: 41.5px;
  border: 1px solid green;
  background-image: url(./images.store/c-2.jpg);
  background-size: cover;
}

.box--b {
  display: flex;
  flex-direction: row;
  width: 253px;
  height: 58px;
  background-image: url ();
  justify-content: center;
  /* border: 1px solid green; */
  gap: 10px;
  justify-items: center;
  margin-left: 30px;
}

.p-34 {
  display: flex;
  width: 12px;
  height: 12px;
}

.box-4_sub {
  height: 109px;
  width: 257px;
  flex-direction: column;
  margin-left: 28px;
  margin-top: 20px;
  border: 1px solid black;
}

.p-27 {
  color: #b64400;
  font-size: 12px;
}

.p-28 {
  margin-top: 20px;
  font-size: 18px;
}

.box--c {
  margin-top: 40px;
}

.p-29 {
  font-size: 14px;
}
